.header__link {
  color: #2f80ed;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  z-index: 3;
}
.header__link:hover {
  opacity: 70%;
  transition: opacity 2s;
}
