.kaufman__triangle {
  position: absolute;
  background: url(../images/kaufman-triangle.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 877px;
  height: 877px;
  right: -210px;
  top: 0;
  z-index: -1;
}
