@keyframes rotation {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: center;
}



.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  position: relative;
  align-items: center;
  color: #000;
  background-color: #f2f2f2;
  overflow: hidden;
}
.logo {
  width: 183px;
}
.logo_place_header {
  background: url(../images/logo_place_header.svg);
  height: 32px;
  position: absolute;
  left: 64px;
  top: 30px;
}
.logo_place_footer {
  background: url(../images/logo_place_footer.svg);
  height: 35px;
}
.header__title{
  max-width: 730px;
  line-height: 96px;
  font-size: 102px;
  z-index: 4;
  margin: 0 0 0 64px;
}
.header__subtitle {
  position: absolute;
  left: 64px;
  margin: 0;
  bottom: 30px;
  max-width: 388px;
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  z-index: 3;
}
.header__link {
  color: #2f80ed;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  z-index: 3;
}
.header__main-illustrator {
  background: url(../images/header-image.png);
  background-size: 765px 608px;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 765px;
  height: 608px;
  z-index: 2;
}
.header_square-pic {
  position: absolute;
  top: 64px;
  right: 0;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  z-index: 1;
}
.rotation {
  -ms-animation: rotation 20s linear infinite;
  -moz-animation: rotation 20s linear infinite;
  -webkit-animation: rotation 20s linear infinite;
  -o-animation: rotation 20s linear infinite;
  animation: rotation 20s linear infinite;
}



.content {
  display: flex;
  flex-flow:column nowrap;
  justify-content: start;
  align-content: center;
}
.description {
  display: flex;
  flex-flow:row nowrap;
  justify-content: center;
  padding-top: 100px;
}
.two-columns {
  display:flex;
  flex-flow:row nowrap;
  justify-content: space-between;
  align-items:flex-start;
  width: 80%;
}
.two-columns__brief {
  margin: 0;
  width: 175px;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  color: #2f80ed;
  text-decoration: none;

}
.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  margin: 0;
  display: flex;
  flex-flow:column nowrap;
  justify-content: space-between;
  align-items: stretch;
}
.two-columns__paragraph {
  margin: 0 0 30px;
  list-style: none;
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
}
.two-columns__paragraph:last-of-type {
  margin: 0;
}
.two-columns__span-accent {
  line-height: 34px;
  margin-bottom: 10px;
  font-weight: 700;
}


.techniques {
  width: 80%;
  display: flex;
  flex-flow:column nowrap;
  align-items: center;
  text-align: center;
  margin: 0 auto 0;
  padding: 100px 0 0;

}
.cards {
  display: flex;
  flex-flow:row wrap;
  justify-content: start;
  align-items: stretch;
  width: 920px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.cards__item {
  margin: 0 100px 0 0;
  padding: 60px 0 0 0;
}
.cards__item:nth-of-type(3n) {
  margin: 0;
  padding: 60px 0 0 0;
}
.cards__image {
  width: 160px;
  height: 160px;
  margin: 0;
  padding: 0 40px;
}
.cards__title {
  max-width: 240px;
  margin: 0;
  padding: 43px 0 0 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}
.cards__description {
  max-width: 240px;
  margin: 0;
  padding: 16px 0 0 0;
  line-height: 23px;
  font-size: 18px;
  font-weight: 400;
}

.video {
  width: 60%;
  display: flex;
  flex-flow:column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 50px 0 0;
  padding: 100px 0 0;
  position: relative;
  transform: translateY(50px);
}
.video__iframes {
  margin: 50 auto 0;
  padding: 0;
  z-index: 10;
  width: 1050;
  bottom: -50%;
}
.video__iframe {
  width: 515px;
  height: 316px;
  bottom: -50%;
}


.oakley {
  display: flex;
  flex-flow:row nowrap;
  justify-content: center;
  padding-top: 160px;
  background-color: #f2f2f2;
}








.digits {
  display: flex;
  flex-flow:column nowrap;
  align-items: center;
  padding: 100px 0 100px;
}
.section-title {
  width: 60%;
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 60px;
  line-height: 1.15;
  font-weight: 600;
}
.section-title_theme_dark {
  color: #fff;
}
.section-subtitle {
  width: 60%;
  margin: 0;
  text-align: center;
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
  }
.section-subtitle_theme_dark {
  color: #fff;
}
.table {
  width: 1100px;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  flex-wrap: wrap;
  align-items: stretch;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.table_theme_dark {
  color: #fff;
}
.table__cell {
  width: 250px;
  margin-top: 60px;
  z-index: 10;
}
.table__cell_theme_dark {
  color: #fff;
  width: 200px;
  margin: 80px 0 0;
}
.table__heading {
  font-size: 24px;
  line-height: 1.15;
  font-weight: 600;
  margin: 0;
}
.table__heading_theme_dark {
  color: #fff;
}
.table__text {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  margin: 20px 0 0;
}
.table__text_theme_dark {
  color: #fff;
}



.feynman {

  color: #000;
  background-color: #f2f2f2;
  position: relative;
  min-height: 890px;
  box-sizing:border-box;
  padding-top: 100px;
  z-index: 1;
}
.feynman__title {
  width: 648px;
  margin: 0 auto 70px;
  text-align: center;
  font-size: 120px;
  line-height: 1.15;
  font-weight: 600;
  z-index: 50;
}
.feynman__subtitle {
  margin: 0 auto 0;
  text-align: center;
  font-size: 36px;
  line-height: 51px;
  font-weight: 400;
  z-index: 3;
}
.feynman__link {
  font-size: 36px;
  line-height: 51px;
  font-weight: 400;
  color: #2f80ed;
  text-decoration: none;
  position: absolute;
  top: 50%;
  right: 48px;
  z-index: 4;
}
.feynman__image {
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: url(../images/feynman.png);
  width: 867px;
  height: 637px;
  background-repeat: no-repeat;
  z-index: -1;
}



.khan {
  display: flex;
  flex-flow:column nowrap;
  justify-content: space-between;
  /* align-items: stretch; */
  padding: 105px 0 0 0;
  background-color: #f2f2f2;
  margin: 0 auto;
  width: 80%;
}
.khan__container {
  min-width: 80%;
}
.khan__author {

  margin: 0;
  padding: 0;
  font-size: 30px;
  line-height: 42px;
  font-weight: 400;
}
.khan__title {
  margin: 0;
  padding: 0;
  font-size: 60px;
  line-height: 1.15;
  font-weight: 600;
}
.khan__quote {
  max-width: 790px;
  margin: 0;
  padding: 50px 0 36px;
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
}
.khan__quote-author {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 1.15;
  font-weight: 600;
}
.khan__quote-author-subline {
  margin: 0;
  padding: 10px 0 0;
  font-size: 24px;
  line-height: 1.15;
  font-weight: 400;
}
.khan__book-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  padding: 68px 0 0;
}
.khan__book-pic {
  object-fit: cover;
  object-position: top;
  width: 620px;
  height: 608px;
  padding-right: 48px;
}
.khan__buy-link {
  font-size: 30px;
  line-height: 42px;
  font-weight: 400;
}






.kaufman {
  display: flex;
  flex-flow:column nowrap;
  align-items: center;
  padding: 90px 0 90px;
  overflow: hidden;
  color: #fff;
  background-color: #1f1f1f;
  position: relative; /*здесь родитель для треугольника*/
  z-index: 10;
}
.kaufman__triangle {
  position: absolute;
  background: url(../images/kaufman-triangle.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 877px;
  height: 877px;
  right: -210px;
  top: 0;
  z-index: -1;
}



.footer {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 60px 0 40px;
  color: #fff;
  background-color: #1f1f1f;
}
.footer__columns {
  display:flex;
  align-items: stretch;
  justify-content: space-between;
  width: 90%;
  min-height: 250px;
  padding: 0;
}
.footer__column {
  margin: 0;
  padding: 0;
}
.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-around;
}
.footer__column_content_info {
  text-align:left;
}
.footer__column_content_social {
  text-align:left;
}
.footer__author {
  margin: 0;
  padding: 18px 0 18px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
}
.footer__column-heading {
  margin: 0;
  padding: 0 0 20px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}
.footer__column-links {
  margin: 0;
  padding: 0 0 16px;
  list-style: none;
}
.footer__column-link {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;

}
.footer__social-icon {
  width: 16px;
  height: 16px;
  padding-right: 10px;
}



